<a href="https://colab.research.google.com/github/MaryiamZahoor/Week1-Introduction_to_Python/blob/newbranch/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

# Table Of Content

1.introdution

     1.1 What is Python

2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets

3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()

8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series

11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.

#### Important features of Python:

- Built-in high level data types: strings, lists, dictionaries, etc.
- The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
- Multiple levels of organizational structure: functions, classes, modules, and packages. These assist in organizing code. An excellent and large example is the Python standard library.
- Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
- Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
- Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

- Python variables do not need explicit declaration to reserve memory space.
- The declaration happens automatically when you assign a value to a variable.
- The equal sign = is used to assign values to variables.

Some examples are given as follows:

In [2]:
area = 200.30  # float type variable
Distance = 100  # integer type variabe
name = "Sara"  # string type variable

# print all values
print(area)
print(Distance)
print(name)

age = 25  # integer type variable
weight = 65.5  # float type variable
city = "Vancouver"  # string type variable

# print all values
print(age)
print(weight)
print(city)

200.3
100
Sara
25
65.5
Vancouver

## 2.2 Numbers

- This data type store numeric values
- Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

Some examples are given as follows:

In [ ]:
5  # integer

5

In [ ]:
10 + 10  # integer

20

In [ ]:
5.5 + 5.5  # float

11.0

In [ ]:
5**2  # exponent

25

In [3]:
1 % 3  # modulus

1

## 2.3 Strings

- Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
- Python allows either pair of single or double quotes.
- Strings are immutable.
- Python doesn't support Char data type.It will beas string of length one in python.

In [7]:
Course = "Artificial Intelligence"
name = "Sara"

print(name, Course)

# Update variables
name = "Tiger"
age = 99
city = "Surrey"

# Print personal information
print("My name is", name, "and I am", age, "years old. I live in", city)

Sara Artificial Intelligence
My name is Tiger and I am 99 years old. I live in Surrey

### Access values in strings

- we can access a specific character or range of characters from strings.
- Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

Some examples are listed below:

In [6]:
stringVariable = "Hello World"

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

# Update stringVariable
newstringVariable = "Bye World"

# Print new stringVariable and playing around with the arguments insdie the brackets
print("newstringVariable[0]:", newstringVariable[-1])
print("newstringVariable[0]:", newstringVariable[1:])

stringVariable[0]: H
stringVariable[1:5]: ello
newstringVariable[0]: d
newstringVariable[0]: ye World

### Updating string

- Value of string can be changed or updated by assigning a new value to it.
- New value must have same data type as previous value.
- For this purpose '+' operator is used as follows:

In [10]:
stringVariable = "Hello World "
stringVariable = stringVariable.replace("World", "Python")

print("Updated string:", stringVariable)

# Update stringVariable again
stringVariable = stringVariable.replace("Hello", "Bye")

print("Updated string:", stringVariable)

Updated string: Hello Python
Updated string: Bye Python

### Delete string

- we can delete the value of string by just deleteing its object.
- 'del' keyword is used for this purpose

It would be cleared by using following example:

In [19]:
stringVariable = "Hello World "
print(stringVariable)
# del stringVariable
# print (stringVariable)


# Creating a new string variable and deleting it
newstringVariable = "Hello World Again"
print(newstringVariable)
del newstringVariable
print(newstringVariable)

Hello World
Hello World Again

NameError: name 'newstringVariable' is not defined

### String special operators

- some special operators are used in Python to perform different opertions.
  These are given below:

#### String Concatenation

- To concatenate the strings we used '+' operator.

  Following are the examples of concatenation:

In [21]:
stringvalue1 = "machine"
stringvalue2 = "learning"
print(stringvalue1 + stringvalue2)

# adding a space between the two strings during concatenation
print(stringvalue1 + " " + stringvalue2)

machinelearning
machine learning

#### Repitition

- '\*' symbol is used for repitition.

In [29]:
stringvalue = "Assignment"
print(stringvalue * 2)

# Printing the string 99 times
print(("I love " + stringvalue + "!\n") * 99)

AssignmentAssignment
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!
I love Assignment!

#### Use of [] symbol

- '[]'symbol give the character of string at given index.

In [32]:
Stringvalue = "Machine Learning"
print(Stringvalue[1])

# Printing the last character of the string
print(Stringvalue[-1])

a
g

#### Use of [:] symbol

- [:] is used to get substring from string.

In [33]:
stringvalue = "Hello"
print(stringvalue[1:3])

# Printing the string from the second character to the end
print(stringvalue[1:])

el
ello

#### use of 'in'

- 'in' is used to check the existance of character in string.
- It returns TRUE if given character exist in string,otherwise FALSE.

In [34]:
Stringvalue = "Hello"
print("H" in Stringvalue)

# Checking if the letter 'X' is in the string
print("X" in Stringvalue)

True
False

#### Use of "not in"

- 'not in' returns true if given character is not in string,otherwise false.

In [35]:
Stringvalue = "Hello"
print("G" not in Stringvalue)

# Checking if the letter 'H' is not in the string
print("H" not in Stringvalue)

True
False

### String formatting operator

- Python uses C-style string formatting to create new, formatted strings.
- The "%" operator is used to format in print statement.

See following examples:

In [43]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))


name = "ChaiChai"
age = 5
height = 87.3

# Testing the %s, %d, and %f format characters. The .2 in %.2f specifies the number of decimal places to display.
print(
    "My name is %s, I am %d years old, and my height is %.2f cm!" % (name, age, height)
)

My name is Sara and weight is 21 kg!
My name is ChaiChai, I am 5 years old, and my height is 87.30 cm!

## 2.4 Lists

- Multiple types of data can be stored in a list.
- A list contains items separated by commas and enclosed within square brackets [].
- Individual elements of a list can be changed
- list indices start with 0 just like arrays.

In [45]:
list1 = ["Mary", 2000]

print(list1)  # Prints complete list

# Prints list2
list2 = [1, 2, 3, 4, 5, 6, 7]

print(list2)

['Mary', 2000]
[1, 2, 3, 4, 5, 6, 7]

### Accessing values in list

- Square brackets are used to access the values of a list
- We can access specific values or range of values from a list

In [50]:
list1 = ["Physics", "Chemistry", 1857, 3290]
list2 = [1, 2, 3, 4, 5, 6, 7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

# get from the last index to the end in list1 and from the first index to the last index in list2
print("list1[-1:] and list2[1:]" + " =", list1[-1:] + list2[1:])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]
list1[-1:] and list2[1:] = [3290, 2, 3, 4, 5, 6, 7]

### Updating list

- Value of string can be changed or updated by assigning a new value to it.
- we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
- we can also update list by using append() function.

In [55]:
list1 = ["dell", "Hp", "Apple"]
list1[1] = "samsung"
print(list1)

list1.append("acer")
print(list1)

# Adding multiple items to the list
list1.append("Asus")
list1.append("Msi")
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']
['dell', 'samsung', 'Apple', 'acer', 'Asus', 'Msi']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [59]:
list1 = ["dell", "Hp", "Apple"]
print(list1)  # Prints complete list
del list1[1]
print("After deleting the value ")
print(list1)

# Deleting the last value in the list
del list1[-1]
print("After deleting the last value in the list")
print(list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
After deleting the last value in the list
['dell']

In [60]:
list1 = ["dell", "Hp", "Apple"]
print(list1)  # Prints complete list

list1.remove("Hp")
print("After deleting the value ")
print(list1)

# Deleting Apple from the list
list1.remove("Apple")
print("After deleting the value 'Apple'")
print(list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
After deleting the value 'Apple'
['dell']

## 2.5 Dictionaries

- Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
- Each key is seperated by colon(:) from its value.
- Each item is seperated with comma(,).
- A pair of braces creates an empty dictionary: {}.
- Python's dictionaries are kind of hash-table type.
- A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any arbitrary Python object.
- Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
- Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [62]:
dict1 = {"Name": "Sara", "Department": "SIAT", "Batch": 2023}
print(dict1["Name"])

# Printing the value of the key 'Department'
print(dict1["Department"])

Sara
SIAT

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [63]:
dict1 = {"Name": "Sara", "Department": "SIAT", "Batch": 2023}
print(dict1)
dict1["Batch"] = "S23"
print(dict1)

# Updating the value of the key 'Name' and 'Department'
dict1["Name"] = "Tiger"
dict1["Department"] = "GEOG"

print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}
{'Name': 'Tiger', 'Department': 'GEOG', 'Batch': 'S23'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function is used to remove complete dictionary.

Some examples are as follows:

In [64]:
dict1 = {"Name": "Sara", "Department": "SIAT", "Batch": 2023}
print(dict1)

del dict1["Batch"]
print(dict1)

# Deleting the key 'Name'
del dict1["Name"]
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}
{'Department': 'SIAT'}

In [67]:
dict1 = {"Name": "Sara", "Department": "SIAT", "Batch": 2023}
dict1.clear()
print(dict1)

# Adding a new key 'Name' and assigning it a value
dict1["Name"] = "Sara"
print(dict1)
# Clearing the dictionary
dict1.clear()
print(dict1)

{}
{'Name': 'Sara'}
{}

## 2.6 Tuples

- A tuple is another sequence data type that is similar to the list.
- A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
- The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their elements and size can be changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.
- It can also have multiple data type values.

For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [72]:
tuple1 = ("simon", "sara", "20", "saira40")

print(tuple1)
print(tuple1[1:3])

# Printing until the last value in the tuple
print(tuple1[:-1])

('simon', 'sara', '20', 'saira40')
('sara', '20')
('simon', 'sara', '20')

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [73]:
tuple1 = ("sun", "mon", "tue", "wed", "thur", "fri", "sat")
tuple2 = (1, 2, 3, 4, 5, 6, 7)
print(tuple1)
print(tuple2)
tuple3 = tuple1 + tuple2
print(tuple3)

# Printing the tuple3 two times and calling it tuple4
tuple4 = tuple3 * 2
print(tuple4)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7, 'sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

Some examples are as follows:

In [75]:
tuple1 = ("sun", "mon", "tue", "wed", "thur", "fri", "sat")
tuple2 = (1, 2, 3, 4, 5, 6, 7)
print(tuple1)
print(tuple2)
del tuple1
# print(tuple1)

# Deleting tuple2 and creating tuple3 by multiplying tuple2 by 2
tuple3 = tuple2 * 2
del tuple2
print(tuple3)
print(tuple2)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

NameError: name 'tuple2' is not defined

# 2.7 Sets

- A set is an unordered collection in which each value occurs at most once.
- You can use curly braces to give an expression whose value is a set.
- Python prints sets using curly braces.
- Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
- Sets can be used to perform mathematical operations like union,intersection,etc
- Empty set will be written as {}.
- We can also make a set from a list using set() function.
- Data type can be found using type() function.
- add() is used to add single value, update() is used for adding multiple values.
- update() function can take tuple,string,list or other set as argument.
- discard() and remove() are used to delete specific item from list.
- discard() will not raise an error if item doesn't exist.
- remove() will raise an error if item doesn't exist in set.
- The cardinality of a set S is the number of elements in the set.
- In Python, the cardinality of a set is obtained using the function len(·).

In [79]:
# list
list1 = [1, 2, 3, 4, 5]

print(type(list1))

my_set = set(list1)

print(type(my_set))

# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed data types
my_set = {1, "Hello"}

# adding a single value
my_set.add("D")

# adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard("G")  # it will not raise an error
# my_set.remove('G') #it will raise an error


# Create another set
my_set = {1, 2, 3, 4, 5}
print(my_set)

# Add elements to the set
my_set.add(6)
my_set.add(7)
print(my_set)

# Remove one element from the set
my_set.remove(3)
print(my_set)

# Check if an element exists in the set
print(2 in my_set)
print(8 in my_set)

# Perform set operations
set1 = {1, 2, 3, 4, 5}
set2 = {9, 8, 7, 6, 5}

# Union of two sets
union_set = set1.union(set2)
print(union_set)

# Intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)

# Difference between two sets
difference_set = set1.difference(set2)
print(difference_set)

# Check Subset and Superset
set3 = {1, 2, 3}
set4 = {1, 2, 3, 4, 5}

print(set3.issubset(set4))
print(set4.issuperset(set3))

<class 'list'>
<class 'set'>
{1, 2, 3}
{1, 2, 3, 4, 5, 'D', 'Hello'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}
True
False
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{1, 2, 3, 4}
True
True

# 3.Comparison Operators

- Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
- Python defines the following comparison operators:

### Less than operator (<)

In [82]:
10 < 17

# testing if 0 is less than -1
0 < -1

False

### Less than equal to operator (<=)

In [84]:
15 <= 10

# testing if 10 is less than or equal to 10
10 >= 10

True

### Equal to operatoe (==)

In [85]:
16 == 16

# testing if 8 is equal to 0
8 == 0

False

In [86]:
"Sara" == "sara"

# testing if "TIger" is equal to "T1ger"
"TIger" == "T1ger"

False

In [88]:
"ALI" == "ALI"

# testing if "Tiger" is equal to "Tiger"
"Tiger" == "Tiger"

True

### Not equal to operator (!=)

In [89]:
3 != 5

# testing if 0 is not equal to 0
0 != 0

False

### OR Operator

In [91]:
(10 == 10) or (10 < 17)

# testing if 7 is equal to 7 or 10 is greater than 17
(7 == 7) or (10 > 17)

True

### And operator

In [94]:
(10 == 10) and (10 < 17)

# testing if 7 is equal to 7 and 10 is greater than 17
(7 == 7) and (10 > 17)

False

# 4.If else statement

- The if–else is used to make choices in Python code.
- This is a compound statement.
- The syntax is:
- if c o n d i t i o n
  action −1
  else :
  action −2
- The indentation is required

In [96]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else:
    print(" Monday is Good ")


# If age is greater than or equal to 18, print "You are an adult." else print "You are a minor."
age = 25

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

 sunday is wonderful
You are an adult.

In [97]:
if 25 % 2:
    print("Even")
else:
    print("Odd")

# If x is greater than 0, print "Positive." If x is less than 0, print "Negative." Else, print "Zero."
x = 10

if x > 0:
    print("Positive")
elif x < 0:
    print("Negative")
else:
    print("Zero")

Even
Positive

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

  for item in list :
  a c t i o n

- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [98]:
for i in [2, 4, 6, 0]:
    print(i)

# Print fruit from the fruits list
fruits = ["apple", "banana", "orange", "grape"]

for fruit in fruits:
    print(fruit)

2
4
6
0
apple
banana
orange
grape

In [99]:
for counter in range(1, 6):
    print(counter)

# Prints numbers from 10 to 2 in descending order with a step of 2
for num in range(10, 0, -2):
    print(num)

1
2
3
4
5
10
8
6
4
2

In [102]:
word = "sara"
for letter in word:
    print(letter)

# Print each letter in the newword
newword = "Tiger"
for l in newword:
    print(l)

s
a
r
a
T
i
g
e
r

### While loop

In [104]:
a = 0
while a < 10:
    a = a + 1
    print(a)

# print each b value after doing the function b = b - 1 until b is less than -20
b = -1
while b > -20:
    b = b - 1
    print(b)

1
2
3
4
5
6
7
8
9
10
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20

# 6.Functions

- You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their complexity, are better self-contained in a sub-program and called when needed.
- Function is a piece of code written to carry out a specified task.
- There are three types of functions in Python:
- Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
- User-Defined Functions (UDFs), which are functions that users create to help them out.
- Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
- The syntax is:

  def functionname(parameters)

  "function_docstring"

  function_suite

  return [expression]

In [106]:
def my_function(name):
    # This prints a passed string into this function
    print(name)
    return


# Now you can call my_function
my_function("Mary")


def calculate_average(numbers):
    # This function calculates the average of a list of numbers
    return sum(numbers) / len(numbers)


# Example usage
numbers = [1, 2, 3, 4, 5, 6]
average = calculate_average(numbers)
print("The average is:", average)

Mary
The average is: 3.5

# 7.Lambda Functions

- The creation of anonymous functions at runtime,using a construct called "lambda"
- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression.
- Lambda function does not include return statement,it always contains an expression which is returned.
- You might want to use lambdas when you don’t want to use a function twice in a program.

  some examples are given:

In [107]:
# Normal Function
def f(x):
    return x**2


print(f(8))

64

In [109]:
times3 = lambda var: var * 3
times3(10)

# lamba expressions : another way to write a function in line

# Multiply two numbers using a lambda function
xymultiply = lambda x, y: x * y
result = xymultiply(5, 7)
print(result)

35

In [ ]:
add = lambda x, y: x + y

print(add(3, 5))

## 7.1 Map()

- Map() function is used with two arguments.Just like: r=map(func,seq)
- The first argument func is function name and the second is a sequence(list etc)
- Map functions expects a function object and any number of iterables like list, dictionary, etc.
- It executes the function_object for each element in the sequence and returns a list of the elements modified by the function object.

  Example:

In [111]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths = map(lambda word: len(word), words)

list(lengths)

# The new list contains the squares of the numbers in the original list uisng the map function
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x**2, numbers)
list(squared_numbers)

['It', 'is', 'raining', 'cats', 'and', 'dogs']

[1, 4, 9, 16, 25]

## 7.2 Filter()

- The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
- The syntax of filter() method is:
  filter(function, iterable)
- The filter() method takes two parameters:

  1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false

  2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators

- The filter() method returns an iterator that passed the function check for each element in the iterable.

In [112]:
# list of alphabets
alphabets = ["a", "b", "d", "e", "i", "j", "o"]


# function that filters vowels
def filterVowels(alphabet):
    vowels = ["a", "e", "i", "o", "u"]

    if alphabet in vowels:
        return True
    else:
        return False


for i in filter(filterVowels, alphabets):
    print(i)

# Using lambda function to filter vowels
isVowel = lambda alphabet: (True if alphabet in ["a", "e", "i", "o", "u"] else False)

for i in filter(isVowel, alphabets):
    print(i)

a
e
i
o
a
e
i
o

In [118]:
# random list
randomList = [1, "a", 0, False, True, "0"]

filteredList = filter(None, randomList)

print("The filtered elements are:")
for element in filteredList:
    print(element)

# Filter out the integers from the random list
newfilteredList = filter(lambda x: isinstance(x, int), randomList)

print("The filtered elements are:")
for element in newfilteredList:
    print(element)

The filtered elements are:
1
0
False
True

In [121]:
ages = [5, 12, 17, 18, 24, 32]


def myFunc(x):
    if x < 18:
        return False
    else:
        return True


adults = filter(myFunc, ages)

for x in adults:
    print(x)

# Using lambda function to filter out the ages greater than and equal to 18
Adults = filter(lambda x: x >= 18, ages)
for x in Adults:
    print(x)

18
24
32
18
24
32

# 8.File I/O

- In this section we will cover basic I/O functions.

## Reading input from keyboard

- There are two functions in Python that you can use to read data from the user:raw_input and input
- You can store the results from them into a variable
- If the input function is called, the program flow will be stopped until the user has given an input and has ended the input with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

Let's have a look at the following example:

In [124]:
# name = raw_input("What's your name? ")
# print("Nice to meet you " + name + "!")

# Python 3 does not have raw_input(), instead it has input()
name = input("What's your name? ")
like = input("What do you like? ")
print("Nice to meet you " + name + "!")
print("You like " + like + "!")

Nice to meet you Chai!

In [ ]:
# age = raw_input("What's your age? ")
# print("your age is " + age + "!")

# Python 3 does not have raw_input(), instead it has input()
age = input("What's your age? ")
print("your age is " + age + "!")

In [130]:
# string = raw_input("enter your university....")
# print(string)

# Python 3 does not have raw_input(), instead it has input()
string = input("enter your university....")
print("My University is", string)

My University is DD

## I/O From or to text file

- In this scenario, we will read and write to a text file.
- we can open files in different modes.

## Read only mode

- r opens a file in read only mode.
- The file pointer is placed at the beginning of the file.
- This is the default mode.

In [187]:
file = open("hello.txt", "r")
str = file.read()
print(str)
file.close()

# Here is another way to open a file in read mode
with open("hello.txt", "r") as file:
    content = file.read()
    print(content)

MSCS From comsats universityHello, World!
MSCS From comsats universityHello, World!

## Read and write mode

- r+ opens a file in read and write mode.
- The file pointer placed at the beginning of the file

In [186]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10)
print("Read String is : ", str)
# Close opend


# Open a file in read and write mode
file = open("hello.txt", "r+")

content = file.read()
print("Read String is:", content)

# Write a line at the end of the file
file.write("Hello, World!")
file.close()

Read String is :  MSCS From
Read String is: MSCS From comsats university

## Write mode only

- w opens a file in write mode only.
- Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [184]:
file = open("write.txt", "w")
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open("write.txt", "r")
str = file.read()
print(str)
file.close()

# Open a file in read and write mode and write a line at the end of the file
file = open("write.txt", "w")
file.write("This is another write command\n")
file.write("This is a new line in write.txt\n")
file.close()

file = open("write.txt", "r")
str = file.read()
print(str)
file.close()

This is the write commandIt allows us to write in a particular file
This is another write command
This is a new line in write.txt

## Append mode

- a opens a file in append mode.
- The file pointer is at the end of the file if the file exists.
- That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [183]:
file = open("write.txt", "a")
file.write("This will add this line")
file = open("write.txt", "r")
str = file.read()
print(str)
file.close()

# Open a file in read and write mode and write a line at the end of the file.
file = open("write.txt", "a")
file.write("\nHello, World!")
file.close()

file = open("write.txt", "r")
str = file.read()
print(str)
file.close()

This will add this lineHello, World!This will add this line
This will add this lineHello, World!This will add this line
Hello, World!

## Append and read mode

- a+ opens a file in append and read mode.
- The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist, it creates a new file for reading and writing.

In [185]:
file = open("hello.txt", "a+")
file.write("MSCS From comsats university")
file.close()
file = open("hello.txt", "r")
str = file.read()
print(str)
file.close()

# Open the file in append and read mode
file = open("data.txt", "a+")
file.write("This is a new line appended to the file.")
file.close()

file = open("data.txt", "r")
content = file.read()
print(content)
file.close()

MSCS From comsats university
This is a new line appended to the file.

## File Position

- tells() method tells the current position within the file.
- seek() method changes the current file method.
- Following is the syntax for seek() method: fileObject.seek(offset[, whence])

In [188]:
f = open("hello.txt", "r+")
str = f.read(20)
print("read string is :", str)

position = f.tell()
print("current file position is :", position)

position = f.seek(5)
str = f.read(10)
print("again read string is :", str)
f.close()

# Open the file in a+ mode and append a new line to the file, then read the file. After this print the current file position and then change the file position to the 0th index and read the first 10 characters of the file.
file = open("data.txt", "a+")
file.write("This is a new line appended to the file.")
file.close()

file = open("data.txt", "r")
content = file.read()
print(content)

position = file.tell()
print("Current file position is:", position)

position = file.seek(0)
str = file.read(10)
print("Again read string is:", str)
file.close()

read string is : MSCS From comsats un
current file position is : 20
again read string is : From comsa
This is a new line appended to the file.This is a new line appended to the file.
Current file position is: 80
Again read string is: This is a

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data — load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

- Fast and efficient DataFrame object with default and customized indexing.
- Tools for loading data into in-memory data objects from different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:

- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using ‘series’ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [191]:
import pandas as pd

s = pd.Series([1, "Lahore", 2, 3, "Happy Eating!"])
s

# Creating a new series with index
ns = pd.Series([0, 1, 2, 3, "four"], index=["A", "B", "C", "D", "E"])
ns

A       0
B       1
C       2
D       3
E    four
dtype: object

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [136]:
first_series = pd.Series([1, 2, 4, 8, 16, 32, 64])
print(type(first_series))
print(first_series)

# Create a series of strings
second_series = pd.Series(["apple", "banana", "cherry", "blueberry"])
print(type(second_series))
print(second_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64
<class 'pandas.core.series.Series'>
0     apple
1    banana
2    cherry
3      date
dtype: object

In [195]:
import numpy as np

s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)
print("-" * 50)
print(s.index)

# Here is another way to create a series
data = {
    "Name": ["Tiger", "Chai", "Fang"],
    "Age": [25, 30, 35],
    "Gender": ["M", "F", "M"],
}

ns = pd.Series(data)
print(ns)
print("-" * 50)
print(ns.index)

a    0.541426
b    1.115463
c   -0.896482
d   -1.684020
e    0.569734
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Name      [Tiger, Chai, Fang]
Age              [25, 30, 35]
Gender              [M, F, M]
dtype: object
--------------------------------------------------
Index(['Name', 'Age', 'Gender'], dtype='object')

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [196]:
d = {"a": 100.0, "b": 200.0, "c": 300.0}
pd.Series(d)

# Create a dictionary and convert it to a series
data = {"apple": 3, "banana": 5, "cherry": 2}
series = pd.Series(data)
print(series)

apple     3
banana    5
cherry    2
dtype: int64

In [198]:
data = {"abc": 1, "def": 2, "xyz": 3}
pd.Series(data)

# Create a series of index of type integer
pd.Series(5, index=[0, 1, 2, 3])

0    5
1    5
2    5
3    5
dtype: int64

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [140]:
pd.Series(5, index=["a", "b", "c"])

# Another example of creating a series
pd.Series("Hello", index=["x", "y", "z"])

x    Hello
y    Hello
z    Hello
dtype: object

In [ ]:
x = pd.Series(3, index=["a", "b", "c", "d"])
x

a    3
b    3
c    3
d    3
dtype: int64

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [199]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s)

# Create a series with 10 random numbers between 0 and 1
s = pd.Series(np.random.rand(10))
print(s)

a    0.992989
b   -0.457886
c   -1.492720
d   -0.234732
e   -0.298089
dtype: float64
0    0.643509
1    0.180194
2    0.408102
3    0.669304
4    0.041614
5    0.315188
6    0.812782
7    0.991466
8    0.631183
9    0.450197
dtype: float64

In [202]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
# print(s.iloc([2,1,4]))

# fixed the list error by adding the square brackets
print(s.iloc[[2, 1, 4]])

c   -0.421542
b    2.975133
e    0.075849
dtype: float64

In [203]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s[:3])

# print another slice of the series
print(s[2:4])

a    0.248908
b   -0.502202
c   -0.093593
dtype: float64
c   -0.093593
d   -1.576463
dtype: float64

In [204]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s[[3, 2, 1]])

# Indexing using custom labels instead of the default index positions
print(s[["e", "b", "c"]])

d    0.569934
c    0.496997
b    0.486890
dtype: float64
e   -1.775556
b    0.486890
c    0.496997
dtype: float64

In [205]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
np.exp(s)

# use sin() function to calculate the sine of each value in the series
np.sin(s)

a    0.911651
b   -0.390500
c    0.152816
d    0.075338
e    0.242853
dtype: float64

In [206]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s["b"]

s["e"]

-0.5746757080369074

In [207]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s["b"] = 12.0
s

s["e"] = 15.0
s

a     0.244206
b    12.000000
c     0.626293
d     0.901137
e    15.000000
dtype: float64

In [ ]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
"e" in s

True

In [ ]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
"f" in s

False

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [144]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

# create a series of strings and convert it to a dictionary
ns = pd.Series(["a", "b", "c", "d"])
ns.to_dict()

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [147]:
import numpy as np

x = np.array([2, 3, 5, 7, 11, 13])
x * 2

# Make all values in x array squared
x**2

array([  4,   9,  25,  49, 121, 169])

In [149]:
data = ["saima", "aisha", "faiza", "saira"]
[s.capitalize() for s in data]

# Make a list of strings upper case
[s.upper() for s in data]

['SAIMA', 'AISHA', 'FAIZA', 'SAIRA']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
  - Dict of 1D ndarrays, lists, dicts, or Series
  - 2-D numpy array
  - A list of dictionaries
  - A Series
  - Another Dataframe
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [209]:
dates = pd.date_range("20130101", periods=6)
dates

# Create another example df
newdates = pd.timedelta_range("1 day", periods=7)
newdates

TimedeltaIndex(['1 days', '2 days', '3 days', '4 days', '5 days', '6 days',
                '7 days'],
               dtype='timedelta64[ns]', freq='D')

## 11.1 Dataframe creation from dict of series or dicts

- The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
- If no columns are passed, the columns will be the sorted list of dict keys.

In [213]:
# Create a dictionary of series
d = {
    "one": pd.Series([1, 2, 3], index=["a", "b", "c"]),
    "two": pd.Series(list(range(4)), index=["a", "b", "c", "d"]),
}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)


# create a dictionary of series of random numbers
import random

random_list = random.sample(range(10), 5)
nd = {
    "randomlist": pd.Series(random_list, index=["a", "b", "c", "d", "e"]),
    "randomlist2": pd.Series(random_list, index=["a", "b", "c", "d", "e"]),
}

ndf = pd.DataFrame(nd)
print(ndf)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
   randomlist  randomlist2
a           9            9
b           2            2
c           3            3
d           4            4
e           5            5

In [214]:
d = {"col1": [1, 2], "col2": [3, 4]}
df = pd.DataFrame(data=d)
df

nd = {"height": [5.1, 6.2, 5.1, 5.2], "weight": [50, 60, 70, 80]}
ndf = pd.DataFrame(nd)
ndf

   height  weight
0     5.1      50
1     6.2      60
2     5.1      70
3     5.2      80

## 11.2 Dataframe creation from dict of ndarrays/lists

- The ndarrays must all be the same length.
- If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [152]:
d = {"one": [1.0, 2.0, 3.0, 4.0], "two": [4.0, 3.0, 2.0, 1.0]}
pd.DataFrame(d)

# create a new dictionary and convert it to a dataframe
data = {
    "Name": ["Tiger", "Chai", "Fang"],
    "Age": [25, 30, 35],
    "Gender": ["M", "F", "M"],
}
df = pd.DataFrame(data)
df

    Name  Age Gender
0  Tiger   25      M
1   Chai   30      F
2   Fang   35      M

In [216]:
df2 = pd.DataFrame(
    np.random.randint(low=0, high=10, size=(5, 5)), columns=["a", "b", "c", "d", "e"]
)


# create a random dataframe with 5 rows and 3 columns
ndf = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
print(ndf)

        one       two     three
a  1.853112  0.693271 -1.155650
c  1.013627 -0.387369 -2.349354
e  1.985968 -0.683143  0.137843
f  0.632943 -2.134618  0.104378
h  0.406526 -0.107443  0.448854

## 11.3 Dataframe creation from a list of dicts

In [217]:
data = [{"a": 10, "b": 20}, {"a": 5, "b": 10, "c": 20}]
pd.DataFrame(data)

# create a dataframe from a list of dictionaries
newdata = [
    {"Name": "Tiger", "Age": 25, "Gender": "M"},
    {"Name": "Chai", "Age": 30, "Gender": "F"},
    {"Name": "Fang", "Age": 35, "Gender": "M"},
]

df = pd.DataFrame(newdata)
df

    Name  Age Gender
0  Tiger   25      M
1   Chai   30      F
2   Fang   35      M

In [ ]:
data = [{"a": 10, "b": 20, "c": 30}, {"a": 5, "b": 10, "c": 20}]
pd.DataFrame(data)

    a   b   c
0  10  20  30
1   5  10  20

## 11.4 Dataframe creation from a dict of tuples

- You can automatically create a multi indexed by passing a tuple dictionary.

In [155]:
df = pd.DataFrame(
    {"Initial": ["C", "A", "M"], "Sex": ["M", "F", "F"], "Age": [49, 39, 19]}
)
# df = df[['Initial', 'Sex', 'Age']]
df

# create a dataframe from a disctionary of tuples
data = {
    "Name": ("Tiger", "Chai", "Fang"),
    "Age": (25, 30, 35),
    "Gender": ("M", "F", "M"),
}

df = pd.DataFrame(data)
df

    Name  Age Gender
0  Tiger   25      F
1   Chai   30      M
2   Fang   35      M

In [218]:
data = [
    ("p1", "t1", 1, 2),
    ("p1", "t2", 3, 4),
    ("p2", "t1", 5, 6),
    ("p2", "t2", 7, 8),
    ("p2", "t3", 2, 8),
]

df = pd.DataFrame(data)
df

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8

## 11.5 Alternate constructors

### Dataframe.from_dict

- Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
- It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [156]:
data = {
    "X": {"a": 1, "b": 2, "c": 3},
    "Y": {"d": 4, "e": 5, "f": 6},
    "Z": {"g": 7, "h": 8, "i": 9},
}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
df

# using the .from_dict() method to create a dataframe from a dictionary
data = {
    "Name": ["Tiger", "Chai", "Fang"],
    "Age": [25, 30, 35],
    "Gender": ["M", "F", "M"],
}

df = pd.DataFrame.from_dict(data)
df

    Name  Age Gender
0  Tiger   25      F
1   Chai   30      M
2   Fang   35      M

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [162]:
sales = [
    ("Jones LLC", 150, 200, 50),
    ("Alpha Co", 200, 210, 90),
    ("Blue Inc", 140, 215, 95),
]
labels = ["account", "Jan", "Feb", "Mar"]
df = pd.DataFrame.from_records(sales, columns=labels)
df

# using .from_recoreds() method to create a dataframe from a list of tuples
data = [
    ("Tiger", 25, "M"),
    ("Chai", 30, "F"),
    ("Fang", 35, "M"),
]
labels = ["Name", "Age", "Gender"]
df = pd.DataFrame.from_records(data, columns=labels)
df

    Name  Age Gender
0  Tiger   25      M
1   Chai   30      F
2   Fang   35      M

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [224]:
# df = pd.DataFrame.from_items([("A", [1, 2, 3]), ("B", [4, 5, 6])])

# .from_items() method is deprecated, use .from_dict() instead in the newer python versions
df = pd.DataFrame.from_dict({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [222]:
# df = pd.DataFrame.from_items([("A", [1, 2, 3]), ("B", [4, 5, 6])])
# df
# .from_items() method is deprecated, use .from_dict() instead in the newer python versions
df = pd.DataFrame.from_dict({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

## 11.6 Column selection,addition,deletion

- You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [232]:
df = pd.DataFrame(
    [[1, 2], [3, 4], [5, 6]], columns=["a", "a"]
)  # you can adress column by index
df

# create a dataframe from a list of lists then rename the columns and delete the last column and add a new column
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["a", "b", "a"])
print(df)
df.columns = ["A", "B", "C"]
print(df)
del df["C"]
print(df)
df["newC"] = [1, 2, 3]
print(df)

   a  b  a
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B
0  1  2
1  4  5
2  7  8
   A  B  newC
0  1  2     1
1  4  5     2
2  7  8     3

In [229]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=["a", "a"])
df.columns = ["a", "b"]  # rename column
df

   b  b
0  1  2
1  3  4
2  5  6

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=["a", "b"])
del df["b"]  # delete column
df

   a
0  1
1  3
2  5

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]], columns=["a", "b"])
df["c"] = "2"  # add new column c and fill with 2
df

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
  - .loc() (label based)
  - .iloc() (integer based)
  - .ix() (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [237]:
df = pd.DataFrame(
    np.random.randn(8, 4),
    index=["a", "b", "c", "d", "e", "f", "g", "h"],
    columns=["A", "B", "C", "D"],
)

# select all rows for a specific column
print(df.loc[:, "A"])

# print selected rows and specific columns
print(df.loc[["a", "c", "e"], ["A", "C"]])

# print selected ranged rows and columns
print(df.loc["c":"e", "A":"C"])

a    1.042314
b    0.708867
c    2.010990
d   -2.370689
e   -0.051071
f    0.165722
g    0.366661
h   -0.675367
Name: A, dtype: float64
          A         C
a  1.042314  1.517448
c  2.010990 -0.409516
e -0.051071 -0.192538
          A         B         C
c  2.010990 -0.303189 -0.409516
d -2.370689 -0.423322 -0.127528
e -0.051071  0.222204 -0.192538

In [233]:
import pandas as pd
import numpy as np

In [173]:
df = pd.DataFrame(
    np.random.randn(8, 4),
    index=["a", "b", "c", "d", "e", "f", "g", "h"],
    columns=["A", "B", "C", "D"],
)

# Select all rows for multiple columns, say list[]
print(df.loc[:, ["A", "C"]])

          A         C
a -0.098898  0.311818
b  0.407726 -0.215324
c  0.618256 -0.076531
d -0.115312  0.685072
e  0.109192 -0.416852
f -1.003514  0.810076
g -1.590651 -0.749719
h  1.766459 -1.299790

In [174]:
df = pd.DataFrame(
    np.random.randn(8, 4),
    index=["a", "b", "c", "d", "e", "f", "g", "h"],
    columns=["A", "B", "C", "D"],
)

# Select range of rows for all columns
print(df.loc["a":"h"])

          A         B         C         D
a  1.180566  0.323715  0.035349  0.355728
b  0.364485 -0.166600  0.857249 -0.813521
c  0.165882 -0.082219 -0.194396  2.226881
d  0.935216  0.177840 -0.891438 -0.731108
e  0.074175  1.309664 -0.322666  0.894671
f  0.311926 -0.943553  0.188629 -1.715969
g  0.075873 -0.801263 -0.784916  0.427888
h  1.121214  1.431360 -1.527711  0.785588

#### .iloc()

In [238]:
df = pd.DataFrame(np.random.randn(8, 4), columns=["A", "B", "C", "D"])

# select all rows for a specific column
print(df.iloc[:4])

df = pd.DataFrame(
    {"Name": ["Tiger", "Chai", "Fang"], "Age": [25, 30, 35], "Gender": ["M", "F", "M"]}
)

# select specific rows and columns
print(df.iloc[[0, 2], [1, 2]])

# use integer sliceing to select rows and columns (integer-based indexing)
print(df.iloc[0:2, 1:3])

          A         B         C         D
0 -0.076970 -0.291211 -0.449608  1.749413
1 -0.045849 -0.828298 -0.061403 -0.282722
2  1.699560  0.210453 -0.071281  0.159571
3 -0.806917 -0.866385 -0.716024  1.655049
   Age Gender
0   25      M
2   35      M
   Age Gender
0   25      M
1   30      F

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=["A", "B", "C", "D"])

# Integer slicing

print(df.iloc[1:5, 2:4])

          C         D
1 -0.600980  2.148089
2  0.622637  0.357187
3 -0.038853 -0.265465
4  0.049228 -0.269615

#### .ix()

In [239]:
# ix() deprecated since pandas 0.20 no longer works
df = pd.DataFrame(np.random.randn(8, 4), columns=["A", "B", "C", "D"])

# Integer slicing
print(df.ix[:4])

print(df.ix[1:4, ["A", "C"]])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [240]:
# ix() deprecated since pandas 0.20 no longer works
df = pd.DataFrame(np.random.randn(8, 4), columns=["A", "B", "C", "D"])

# Index slicing
print(df.ix[:, "A"])

AttributeError: 'DataFrame' object has no attribute 'ix'

## 11.8 Data alignment and arithmetic

In [263]:
# Example for 11.8

df1 = pd.DataFrame(np.random.randn(5, 3), columns=["col1", "col2", "col3"])
df2 = pd.DataFrame(np.random.randn(3, 2), columns=["col1", "col2"])
print(df1)
print(df2)

# perform subtraction on the two dataframes
print(df1 - df2)
# perform subtraction only on the selected rows
print(df1 - df1.iloc[1])
# perform calculation on df1
print(df1**3 + 1)
# use datetime as index
index = pd.date_range("1/1/2024", periods=5)
df3 = pd.DataFrame(np.random.randn(5, 3), index=index, columns=["col1", "col2", "col3"])
print(df3)
# create boolean dataframe
df4 = pd.DataFrame({"a": [1, 1, 1], "b": [0, 0, 0]}, dtype=bool)
# only 0 are rcognized as False
df5 = pd.DataFrame({"a": [0, 1, 2], "b": [3, 4, 0]}, dtype=bool)
print(df4)
print(df5)
# perform comparison on the two dataframes based on "and", "or", and "not" operators
print(df4 & df5)
print(df4 | df5)
print(df4 ^ df5)

       col1      col2      col3
0 -0.527278  1.581400  1.098061
1 -0.171711 -0.181971 -0.394168
2 -0.959577 -0.114028 -0.865197
3 -0.141798 -0.512829 -1.088664
4 -1.234793 -1.109042  1.976580
       col1      col2
0 -0.301828 -0.085001
1 -0.774188  1.329010
2 -0.110458 -0.622365
       col1      col2  col3
0 -0.225449  1.666401   NaN
1  0.602477 -1.510981   NaN
2 -0.849119  0.508337   NaN
3       NaN       NaN   NaN
4       NaN       NaN   NaN
       col1      col2      col3
0 -0.355567  1.763371  1.492229
1  0.000000  0.000000  0.000000
2 -0.787866  0.067943 -0.471029
3  0.029912 -0.330858 -0.694496
4 -1.063083 -0.927070  2.370749
       col1      col2      col3
0  0.853405  4.954807  2.323973
1  0.994937  0.993974  0.938759
2  0.116434  0.998517  0.352343
3  0.997149  0.865129 -0.290274
4 -0.882707 -0.364092  8.722244
                col1      col2      col3
2024-01-01 -0.109145  0.332271 -2.620388
2024-01-02  0.323477  0.002782 -0.953074
2024-01-03 -0.038122  2.514888 -0.815978
2024-01-04 -0.996721 -0.882576  1.056334
2024-01-05  0.528661  0.836161  0.553518
      a      b
0  True  False
1  True  False
2  True  False
       a      b
0  False   True
1   True   True
2   True  False
       a      b
0  False  False
1   True  False
2   True  False

- Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
- Again, the resulting object will have the union of the column and row labels.

In [ ]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=["A", "B", "C", "D"])
df1

          A         B         C         D
0 -0.117700  0.788149  0.776948 -1.159620
1  0.604453 -0.487806  1.356927  0.008448
2 -0.886517  0.044949  0.023818  2.174181
3  0.567215  0.902368  0.135462 -0.051920
4 -0.574904  0.555554 -0.094674 -0.124867
5 -0.087198 -0.785484  0.527486  0.293056
6 -0.112861  1.120604 -0.933670 -0.232908
7  0.336940  0.108904 -0.295332 -2.991587
8 -2.031898  1.290700  1.013805  0.334444
9 -0.021450 -2.232018 -1.355943 -0.144558

In [ ]:
df2 = pd.DataFrame(np.random.randn(7, 3), columns=["A", "B", "C"])
df2

          A         B         C
0 -1.676725 -1.169031 -0.619940
1 -0.710089  1.834536 -1.118924
2 -1.306510 -1.427194  1.891368
3  0.707823  1.638324 -1.007516
4  0.552295 -2.373425 -1.137115
5  0.080897 -0.467685  0.484710
6 -0.478739 -0.519066  0.058221

In [ ]:
df1 + df2

          A         B         C   D
0 -1.794426 -0.380882  0.157008 NaN
1 -0.105636  1.346731  0.238002 NaN
2 -2.193027 -1.382245  1.915186 NaN
3  1.275037  2.540692 -0.872054 NaN
4 -0.022608 -1.817870 -1.231789 NaN
5 -0.006301 -1.253170  1.012196 NaN
6 -0.591600  0.601538 -0.875449 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [ ]:
df1 - df1.iloc[0]

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.722153 -1.275955  0.579979  1.168068
2 -0.768817 -0.743200 -0.753129  3.333801
3  0.684915  0.114219 -0.641486  1.107699
4 -0.457204 -0.232595 -0.871622  1.034753
5  0.030502 -1.573633 -0.249461  1.452675
6  0.004839  0.332455 -1.710617  0.926712
7  0.454640 -0.679244 -1.072280 -1.831968
8 -1.914198  0.502551  0.236857  1.494064
9  0.096250 -3.020167 -2.132890  1.015062

- In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [ ]:
index = pd.date_range("1/1/2000", periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list("ABC"))
df

                   A         B         C
2000-01-01  0.146072  0.966939 -0.483866
2000-01-02 -0.301393 -0.235599 -0.291576
2000-01-03  0.763213  0.086616  0.607997
2000-01-04 -0.164010 -0.422640 -0.338078
2000-01-05  1.414892 -1.146976  0.355322
2000-01-06  0.448006  0.826819 -0.320917
2000-01-07 -1.299619 -1.786811 -2.381874
2000-01-08  0.172000  0.008814  0.241587

In [ ]:
df1 * 10 + 2

           A          B          C          D
0   0.822999   9.881489   9.769477  -9.596196
1   8.044527  -2.878058  15.569265   2.084481
2  -6.865170   2.449487   2.238184  23.741809
3   7.672145  11.023680   3.354615   1.480795
4  -3.749036   7.555543   1.053260   0.751332
5   1.128016  -5.854845   7.274863   4.930555
6   0.871390  13.206037  -7.336697  -0.329076
7   5.369398   3.089045  -0.953321 -27.915874
8 -18.318978  14.906997  12.138047   5.344443
9   1.785502 -20.320177 -11.559426   0.554421

In [251]:
1 / df1

       col1        col2       col3
0  0.935184   -1.384365  -1.567950
1  9.099212   -0.933380   1.337473
2  0.777146    0.790581  -1.478096
3  0.922530    0.625273  10.993337
4  1.643585 -199.643962  -1.049593

In [252]:
df1**5

       col1          col2      col3
0  1.398028 -1.966738e-01 -0.105521
1  0.000016 -1.411587e+00  0.233655
2  3.527661  3.237931e+00 -0.141738
3  1.496573  1.046287e+01  0.000006
4  0.083376 -3.152965e-12 -0.785047

- Boolean operators work as well:

In [ ]:
df1 = pd.DataFrame({"a": [1, 0, 1], "b": [0, 1, 1]}, dtype=bool)
df1

       a      b
0   True  False
1  False   True
2   True   True

In [ ]:
df2 = pd.DataFrame({"a": [0, 1, 1], "b": [1, 1, 0]}, dtype=bool)
df2

       a      b
0  False   True
1   True   True
2   True  False

In [ ]:
df1 & df2

       a      b
0  False  False
1  False   True
2   True  False

In [ ]:
df1 | df2

      a     b
0  True  True
1  True  True
2  True  True

In [ ]:
df1 ^ df2

       a      b
0   True   True
1   True  False
2  False   True

In [ ]:
-df1

       a      b
0  False   True
1   True  False
2  False  False

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [265]:
# only show the first 4 rows
df[:4].T

# Swaping the rows and columns of the df
df.T

,0,1,2,3,4,5,6,7
A,1.211714,0.733472,0.959284,0.909298,0.077718,-0.653559,0.249424,-1.174500
B,-0.671979,1.448527,-0.929131,-0.824617,1.027522,-0.039907,2.235110,-1.255337
C,1.728253,-0.330329,1.014018,-0.153902,0.320301,-0.121763,0.060324,1.717919
D,-2.320852,-0.763944,0.371683,-2.733525,-0.451262,0.465236,-0.215964,-0.554832